/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nar .nav-link {
    padding: 1rem .8rem;
}

/* Home */
.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

.centered {
    margin: 0 auto !important;
    float: none !important;
}

#home-area p {
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

.home-box {
    text-align: center;
    margin-bottom: 50px;
}

.home-box a i, .home-box a h4 {
    transition: .5s;
}

.home-box a i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #888;
}

.home-box a h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.home-box:hover > a i, .home-box:hover > a h4 {
    color: #000;
}

/* Sobre o Pedro */
.container-solid {
    padding: 0;
    margin-top: 4%;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title:after {
    content: "";
    border-top: 2px solid #333;
    width: 10%;
    position: absolute;
    top: 60px;
    left: 45%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #333;
    margin-right: 15px;
}

/* Experiência do Pedro */
.exp-box {
    text-align: center;
    margin-bottom: 50px;
}

.exp-box i, .exp-box h4 {
    transition: .5s;
}

.exp-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #888;
}

.exp-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.exp-box:hover > i, .exp-box:hover > h4 {
    color: #000;
}