/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nar .nav-link {
    padding: 1rem .8rem;
}

/* Sobre o Pedro */
.container-solid {
    padding: 0;
    margin-top: 3%;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title:after {
    content: "";
    border-top: 2px solid #333;
    width: 10%;
    position: absolute;
    top: 60px;
    left: 45%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #333;
    margin-right: 15px;
}